.centerText {
  text-align: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  /* margin: 0 1rem; */
}

.footerContainer {
  display: flex;
  flex-direction: column;
}